<p>
  <a href="/">Home</a> | <a href="/cards/random">Random</a> | <a href="/cards/new">New card</a> | Manage
</p>

<h2>All your cards</h2>

<ol>
  <% @cards.each do |card| %>
    <% if params[:flip] == card[:id] %>
      <% href = "/cards" %>
      <% text = card[:back] %>
    <% else %>
      <% href = "/cards?flip=#{card[:id]}" %>
      <% text = card[:middle] %>
    <% end %>
    <li>
      <form action="/current-cards" method="post" style="display: inline">
	<input type="hidden" name="id" value="<%= card[:id] %>">
	<input type="submit"<%= 'disabled="disabled"' if card[:current] %> value="Learn">
      </form>
      <form action="/cards/<%= card[:id] %>" method="get" style="display: inline">
	<input value="Open" type="submit">
      </form>
      <a href=<%= href %>><%= text %></a>
    </li>
  <% end %>
</ol>
