<p>
  <a href="/">Home</a> | <a href="/cards/random">Random</a> | <a href="/cards/new">New card</a> | <a href="/cards">Manage</a>
</p>

<h1>
  <% if params.key?(:flip) %>
  <a href="?"><%= @card[:back] %></a>
  <% else %>
  <a href="?flip"><%= @card[:middle] %></a>
  <% end %>
</h1>

<p>
  Look it up in: <a target="_blank" href="https://dictionary.cambridge.org/search/learner-english/direct/?q=<%= @card[:middle] %>">Cambridge Dictionary</a> | <a target="_blank" href="https://translate.google.nl/#auto/ru/<%= @card[:middle] %>">Google Translate</a>
</p>

<form action="/cards/<%= @card[:id] %>/edit" style="display: inline">
  <input value="Edit" type="submit">
</form>

<form action="/cards/<%= @card[:id] %>" method="post" style="display: inline">
  <input type="hidden" name="_method" value="delete">
  <input value="Delete" type="submit">
</form>
