<% content_for(:title) do %>
All Cards | Learn a Word
<% end %>

<%= erb :header %>

<h1>All cards</h1>

<ol>
  <% @cards.each do |card| %>
    <li>
      <form action="/current-cards" method="post" style="display: inline">
	<input type="hidden" name="id" value="<%= card[:id] %>">
	<input type="submit"<%= 'disabled="disabled"' if card[:current] %> value="Add">
      </form>
      <form action="/cards/<%= card[:id] %>" method="get" style="display: inline">
	<input value="Open" type="submit">
      </form>
      <a href="/cards/<%= card[:id] %>"><%= card[:middle] %></a>
    </li>
  <% end %>
</ol>
