<p>Your cards:</p>

<ul>
  <% @cards.each do |card| %>
  <li>
    <%= card[:left] %>
    <% if params[:flip] == card[:id] %>
    <a href="/"><%= card[:back] %></a>
    <% else %>
    <a href="/?flip=<%= card[:id] %>"><%= card[:middle] %></a>
    <% end %>
    <%= card[:right] %>
  </li>
  <% end %>
</ul>
