<p>
  Home | <a href="/cards/random">Random card</a> | <a href="/cards">All cards</a>
</p>

<ul>
  <% @cards.each do |card| %>
    <% if params[:flip] == card[:id] %>
      <% href = "/" %>
      <% text = card[:back] %>
    <% else %>
      <% href = "/?flip=#{card[:id]}" %>
      <% text = card[:middle] %>
    <% end %>
  <li>
    <form action="/current-cards" method="post" style="display: inline">
      <input type="hidden" name="_method" value="delete">
      <input type="hidden" name="id" value="<%= card[:id] %>">
      <input value="Remove" type="submit">
    </form>
    <form action="/cards/<%= card[:id] %>" method="get" style="display: inline">
      <input value="Open" type="submit">
    </form>
    <%= card[:left] %><a href=<%= href %>><%= text %></a><%= card[:right] %>
  </li>
  <% end %>
</ul>
